body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #ccc;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 1rem;
  }
  
  #welcome-section {
    height: 100vh;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  
  #welcome-section h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  #projects {
    background-color: #f9f9f9;
    padding: 1rem;
  }
  
  .project-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .project-tile h2 {
    font-size: 2rem;
  }
  
  .project-tile p {
    margin-top: 1rem;
  }
  
  .project-tile a {
    text-decoration: none;
    color: #000;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
  }
  
  #profile-link {
    text-decoration: none;
    color: #ccc;
  }
  
  @media (max-width: 768px) {
    #welcome-section {
      height: auto;
    }
  
    header {
      flex-direction: column;
    }
  
    #navbar {
      flex-direction: column;
    }
  
    #projects {
      flex-direction: column;
    }
  }
  